@use 'abstracts/common';
@use 'abstracts/colors';

// html,
// body {
//   padding: 0;
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
//     Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
// }

// a {
//   color: inherit;
//   text-decoration: none;
// }

// * {
//   box-sizing: border-box;
// }

@font-face {
    font-family: Rubik;
    src: url('../assets/fonts/Rubik/static/Rubik-Regular.ttf');
}

* {
    margin: 0;
}

html {
    height: 100%;
}

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
button,
ul,
ol,
li {
    font-family: Rubik;
}

.full-height {
    min-height: 100vh;
}

.page {
    min-height: 100vh;
}

.mc-background {
    background-size: cover;
    background-image: url('../assets/images/minecraft-edit.png');
}

button {
    border-radius: 5px;
}

.button-primary {
    padding-top: 8px;
    padding-bottom: 8px;

    box-shadow: common.$shadow;

    background-color: colors.$button-primary;
    border: none;
    color: black;

    &:hover {
        background-color: lighten(colors.$button-primary, 5%);
    }

    &:active {
        background-color: darken(colors.$button-primary, 10%);
        box-shadow: none;
    }
    
    &--inverted {
        background-color: colors.$background-primary;
        color: colors.$button-primary;
        border: 2px solid colors.$button-primary;
    
        &:hover {
            border: 2px solid lighten(colors.$button-primary, 5%);
            color: lighten(colors.$button-primary, 5%);
        }
    
        &:active {
            border: 2px solid darken(colors.$button-primary, 10%);
            color: darken(colors.$button-primary, 10%);
            box-shadow: none;
        }
    }
}

@mixin debug-outline {
    outline: 1px solid red;
}