<template>
    <button><slot></slot></button>    
</template>

<style scoped lang="scss">
    $bg: white;

    button {
        background-color: $bg;
        color: black;

        border-radius: 5px;
        border: 1px solid #cdcdcd;

        padding: 8px;

        &:hover {
            background-color: darken($bg, 5%);
        }

        &:active {
            background-color: darken($bg, 10%);
        }
    }
</style>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component';

@Component({
    name: "ui-button"
})
export default class UiButton extends Vue {}
</script>