@import "./variables.scss";

@font-face {
    font-family: Rubik;
    src: url('@/assets/fonts/Rubik/static/Rubik-Regular.ttf');
}

* {
    margin: 0;
}

html {
    height: 100%;
}

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
button,
ul,
ol,
li {
    font-family: $main-font;
}

.full-height {
    min-height: 100vh;
}

.page {
    min-height: 100vh;
}

.mc-background {
    background-size: cover;
    background-image: url('@/assets/minecraft-edit.png');
}

button {
    border-radius: 5px;
}

@mixin debug-outline {
    outline: 1px solid red;
}