$main-font: Rubik;
$main-border-radius: 5px;

// legacy colors
$ruby-red: rgb(146, 22, 32);
$deep-champagne: hsl(34, 75%, 80%);
$blanched-almond: hsl(38, 100%, 90%);
$queen-blue: hsl(206, 37%, 44%);
$purple-navy: hsl(226, 32%, 37%);

// colors
$color-primary: white;
$color-background: hsl(19, 89%, 96%);

$button-primary: hsl(37, 83%, 54%);