<template>
    <div class="full-height">
        <div class="grid">
            <div class="sidebar">
                <h3>Currently installed mods&#58;</h3>
                <ul>
                    <li v-bind:key="mod" v-for="mod in mods">{{mod}}</li>
                </ul>
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Assumenda numquam reiciendis dolorum sint amet tempora pariatur quaerat, 
                    excepturi inventore ipsam quae, officiis ipsum laborum voluptas adipisci.
                    Nisi voluptas similique accusantium!</p>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
    @import '@/scss/main.scss';

    //$sidebar-color: hsl(160, 100%, 95%);
    $sidebar-color: $deep-champagne;

    p {
        margin: 8px;
    }

    .grid {
        display: flex;
        width: 100vw;

        .sidebar {
            flex-basis: 245px;
            height: 100vh;
            width: 245px;

            background-color: $sidebar-color;
            box-shadow: 0px 0px 5px hsl(0, 0%, 50%);

            z-index: 1;

            h3 {
                padding-top: 16px;
                padding-bottom: 16px;
                padding-right: 8px;
                padding-left: 8px;

                background-color: lighten($sidebar-color, 1%);
            }

            ul {
                li:nth-child(odd) {
                    background-color: darken($sidebar-color, 6%);
                }

                li {
                    padding: 8px;
                }
            }
        }

        .content {
            flex: 1;
            height: 100vh;
            z-index: 0;

            background-color: $blanched-almond;
        }
    }
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component
export default class Archiver extends Vue {
    mods: string[] = (window as any).api.mods;
}
</script>
