<template>
    <div class="mc-background page home">
        <div class="home-panel">
            <div class="home-panel__grid">
                <div class="home-panel__content">

                    <div class="content--top">
                        <h2>Welcome!</h2>
                        <p>
                            Use McModmanager to simplify 
                            running multiple mod 
                            installations with ease
                        </p>
                    </div>

                    <div class="content--bottom">
                        <button class="btn--normal">Archive mods</button>
                        <button class="btn--inverted" @click="toManager">Manage mods</button>
                    </div>

                </div>
                <div class="home-panel__devider"></div>
                <div class="home-panel__img">
                    <img id="logistic-graphic" src="@/assets/undraw_logistics_x-4-dc.svg">
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    @use '@/scss/main' as *;
    @use '@/scss/abstracts/colors';
    @use '@/scss/abstracts/common';

    h2 {
        margin-bottom: 10px;
    }

    h2, p {
        color: white;
    }

    .home {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-panel {
        width: 620px;
        height: 400px;

        background-color: colors.$background-primary;
        
        border-radius: common.$border-radius;
        box-shadow: common.$shadow;

        &__grid {
            display: grid;
            grid-template-columns: 1fr 1px 1fr;
        }

        &__content {
            display: block;
            align-content: center;
            margin: 16px;

            position: relative;

            @at-root .content--top {
                display: block;
                position: absolute;
                top: 50px;
                left: 12px;
            }

            @at-root .content--bottom {
                display: block;
                align-items: center;
                text-align: center;
                position: absolute;
                bottom: 50px;
            }
        }

        &__devider {
            display: block;
            width: 1px;
            height: calc(400px - 40px);
            flex-shrink: 1;

            flex-basis: 1px;
            background-color: hsl(240, 9%, 37%);
            margin-top: 20px;
            margin-bottom: 20px;
        }

        &__img {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 16px;
        }
    }

    button {
        padding-top: 8px;
        padding-bottom: 8px;

        width: 250px;
        margin-top: 5px;
        margin-bottom: 5px;
        box-shadow: common.$shadow;
    }

    .btn--normal {
        background-color: colors.$button-primary;
        border: none;
        color: black;

        &:hover {
            background-color: lighten(colors.$button-primary, 5%);
        }

        &:active {
            background-color: darken(colors.$button-primary, 10%);
            box-shadow: none;
        }
    }

    .btn--inverted {
        background-color: colors.$background-primary;
        color: colors.$button-primary;
        border: 2px solid colors.$button-primary;

        &:hover {
            border: 2px solid lighten(colors.$button-primary, 5%);
            color: lighten(colors.$button-primary, 5%);
        }

        &:active {
            border: 2px solid darken(colors.$button-primary, 10%);
            color: darken(colors.$button-primary, 10%);
            box-shadow: none;
        }
    }

    #logistic-graphic {
        width: 256px;
        height: auto;
    }
</style>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component
export default class Home extends Vue {
    toManager() {
        (this as any).$router.push('/mod-manager');
    }
}
</script>