<template>
    <div class="home">
        <div class="home-panel">
            <div class="home-panel__grid">
                <div class="home-panel__content">

                    <div class="content--top">
                        <h2>Welcome!</h2>
                        <p>
                            Use McModmanager to simplify 
                            running multiple mod 
                            installations with ease
                        </p>
                    </div>

                    <div class="content--bottom">
                        <button class="btn--red">Archive mods</button>
                        <button class="btn--blue" @click="toManager">Manage mods</button>
                    </div>

                </div>
                <div class="home-panel__devider"></div>
                <div class="home-panel__img">
                    <img id="logistic-graphic" src="@/assets/undraw_logistics_x-4-dc.svg">
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    @import '@/scss/main.scss';

    $border-radius: 5px;

    h2 {
        margin-bottom: 10px;
    }

    .home {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-background;
    }

    .home-panel {
        width: 620px;
        height: 400px;
        background-color: $color-primary;
        
        border-radius: 8px;
        box-shadow: 0px 1px 2px #88888888;

        &__grid {
            display: grid;
            grid-template-columns: 1fr 1px 1fr;
        }

        &__content {
            display: block;
            text-align: center;
            margin: 16px;

            position: relative;

            @at-root .content--top {
                display: block;
                position: absolute;
                top: 50px;
            }

            @at-root .content--bottom {
                display: block;
                position: absolute;
                bottom: 50px;
            }
        }

        &__devider {
            display: block;
            width: 1px;
            height: calc(400px - 40px);
            flex-shrink: 1;

            flex-basis: 1px;
            background-color: #dadada;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        &__img {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 16px;
        }
    }

    $bg: white;

    button {
        padding-top: 8px;
        padding-bottom: 8px;

        width: 250px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .btn--red {
        //@include color-button($ruby-red);
    }

    .btn--blue {
        //@include color-button($purple-navy);
    }

    #logistic-graphic {
        width: 256px;
        height: auto;
    }
</style>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component
export default class Home extends Vue {
    toManager() {
        (this as any).$router.push('/mod-manager')
    }
}
</script>