<template>
    <div>
        <h1>Hello there!</h1>
        <p>This is a page</p>
        <p>{{message}}</p>
    </div>
</template>

<style scoped lang="scss">
    div {
        p {
            color: red;
        }
    }
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component
export default class MyComponent extends Vue {
    message: string = 'Kaas';
}
</script>
