.selectlist {

    list-style: none;
    padding-left: 0;

    &--item {


        &__selected {
            background-color: darken(white, 30%);
        }

        &:hover {
            background-color: darken(white, 10%);
        }
    }
}