$table-base-color: hsl(240, 5%, 22%);

.selectlist {

    list-style: none;
    color: white;
    padding-left: 0;

    &--item {
        user-select: none;

        &:nth-child(even) {
            background-color: darken($table-base-color, 2%);
        }

        &__selected {
            background-color: lighten($table-base-color, 20%);

            &:nth-child(even) {
                background-color: lighten($table-base-color, 18%);
            }
        }
        
        &:hover {
            background-color: lighten($table-base-color, 10%);
        }
    }
}