$table-base-color: hsl(240, 5%, 22%);

.selectlist {

    list-style: none;
    color: white;

    $padding: 0.25em;

    &--item {
        user-select: none;
        padding-left: 0.5em;
        padding-top: $padding;
        padding-bottom: $padding;

        &:nth-child(even) {
            background-color: darken($table-base-color, 2%);
        }

        &__selected {
            background-color: lighten($table-base-color, 20%);

            &:nth-child(even) {
                background-color: lighten($table-base-color, 18%);
            }
        }
        
        &:hover {
            background-color: lighten($table-base-color, 10%);
        }
    }
}